@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
}

.header {
    background: rgba(255, 144, 14, 0.1);
}

/* Nav bar styles */
nav {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 30px 150px;
}

nav .title {
    /* margin: 30px 0 0 100px; */
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    /* margin: 50px 100px 0 0; */
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

nav li {
    list-style: none;
}

nav li:hover {
    width: fit-content;
    height: fit-content;
    /* background: #FFFFFF; */
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
}

/* header content styles */

.header-container {
    text-align: center;
    /* padding: 50px 200px; */
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.header-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 30px 250px;
}



.primary-btn {
    margin: 10px 0;
    width: 180px;
    height: 64px;
    text-decoration: none;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}


.primary-btn:hover {
    border: 3px solid white;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 80%;
    border-radius: 8px;
}

.header img:hover {
    transform: rotateY(180deg);
}

/* quick list section styles */
.quick-list-container {
    justify-content: center;
    padding: 20px 100px 0;
    display: flex;
    gap: 50px;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: start;
    align-content: center;
}


.quick-list-images img {
    border-radius: 8px;
    width: 342px;
    height: 342px;
}

.quick-list-images img:hover {
    margin: -2px;
    border: 2px solid orange;
}

.quick-list-content {
    text-align: start;
    margin: 250px 0;
}

.quick-list-header {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-black {
    color: #131313;
}

.text-orange {
    color: #FF900E;
}

.quick-list-description {
    margin: 30px 0;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* features section styles */
.features-container {
    position: relative;
    margin-top: 60px;
}

.features-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 80px;
}

.features-content img {
    width: 100%;
}

.features-content img:hover {
    margin: -2px;
    border: 2px solid orange;
    border-radius: 8px;
}

.features {
    text-align: start;
    padding-top: 20px;
}

.feature {
    padding: 30px 30px 0;
    margin: 20px 0;
    width: 500px;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(2, 2, 2, 0.09);

}

.feature-title {
    border-left: 5px solid #FF900E;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 20px;
}

.feature-description {
    padding: 0 0 30px 0;
    margin: 25px 0 15px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features,
.title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.features,
.details {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 0px;
}

.btn {
    position: absolute;
    right: 40%;
    left: 50%;
    top: 100%;
    -ms-transform: translateY(-120%);
    transform: translateY(-110%);
}

.feature-button {
    height: 161px;
    width: 342px;
}

/* facts section styles */
.facts {
    text-align: start;
    margin: 130px 830px 0 80px;
}

.facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.facts-description {
    color: #727272;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 25px;
}

/* about section style */
.abouts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 100px 80px;
}

.about {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.about:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.09);
}

.about-image {
    height: 50px;
    width: 50px;
    margin: 30px 0 5px;
}

.about-title {
    color: #424242;
    font-weight: 600;
    font-size: 40px;
    margin: 5px 0;
}

.about-description {
    color: #727272;
    font-weight: 600;
    font-size: 15px;
}

/* our sponsors section styles*/
.sponsors-container {
    margin: 50px 0;
}

.sponsors-content {
    text-align: center;
}

.sponsors-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.sponsors-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0;
}

.sponsors-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 50px 80px;
}

.sponsors-icons img {
    filter: grayscale(100%);
}

.icon {
    height: 50px;
    width: auto
}

/* footer section styles */
.footer {
    display: block;
    margin: 90px auto 50px auto;
    width: 80%;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-content {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 30px 0;
}


/* contact section styles */

.contact-container {
    border-radius: 8px;
    margin: 0 30px;
    background: rgba(168, 90, 6, 0.1);
    padding: 100px 100px;
}

.contact-content {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}


.mail-details input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 15px 20px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.contact-details {
    padding: 50px 0;
}

.contact-section-description {
    text-align: justify;
    color: #727272;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

.contact-details a {
    text-decoration: none;
    margin-right: 20px;
}

.contact-details img{
    height: 45px;
    width: auto;
}

input {
    height: 50px;
}


/* responsive for mobile */
 @media only screen and (max-width:688px) {
    .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 80%;
        border-radius: 8px;
    }

    nav .title {
        text-align: center;
    }

    nav,
    nav ul {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        gap: 10px;
    }

    nav ul {
        padding-left: 0;
    }

    .quick-list-images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-container {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .quick-list-content {
        padding: 0;
        margin: 0;
    }
 } 